<style>
  body {
    background: url(../../images/login-background.jpg) no-repeat bottom center scroll; 
  }
</style>
<body>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>
    <div class="container">    
      <div id="loginbox" style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">                    
        <div class="panel panel-info" >
          <div class="panel-heading">
            <div class="panel-title">Edit <%= resource_name.to_s.humanize %></div>
          </div>     

          <div style="padding-top:30px" class="panel-body" >

            <div style="display:none" id="login-alert" class="alert alert-danger col-sm-12"></div>

            <form id="loginform" class="form-horizontal" role="form">

              <div style="margin-bottom: 25px" class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                <%= f.text_field :username, :placeholder => "Username", autofocus: true, class: "form-control" %>  
              </div>

              <div style="margin-bottom: 25px" class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                <%= f.email_field :email, :placeholder => "Email", autofocus: true, class: "form-control" %>  
              </div>

              <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
              <% end %>

              <div style="margin-bottom: 25px" class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                <%= f.password_field :password, :placeholder => "Password(leave blank if you don't want to change it)",autocomplete: "off", class: "form-control" %>
              </div>

              <div style="margin-bottom: 25px" class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                <%= f.password_field :password_confirmation, :placeholder => "Confirm Password",autocomplete: "off", class: "form-control" %>
              </div>

              <div class="input-group">
                <span class="input-group-btn">
                  <span class="btn btn-small btn-primary btn-inverse" onclick="$(this).parent().find('input[type=file]').click();">Upload Avatar</span>
                  <%= f.file_field :avatar, onchange: "$(this).parent().parent().find('.form-control').html($(this).val().split(/[\\\\|/]/).pop());", style: "display: none;" %>
                </span>
                <span class="form-control"></span>
              </div><br>

              <div style="margin-bottom: 25px" class="input-group">
                <%= f.check_box :notifications %> Notifications
              </div>

              <div style="margin-bottom: 25px" class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                <%= f.password_field :current_password, :placeholder => "Current Password(we need your current password to confirm your changes)",autocomplete: "off", class: "form-control" %>
              </div>

              <div style="margin-top:10px" class="form-group">
                <div class="col-sm-12 controls">
                  <%= f.submit "Update", class: "btn btn-success" %>
                </div>
              </div>
            </form>   
          </div>                     
        </div>  
      </div>
    </div>
  <% end %>
   <div class="buttons_container">
     <div class="col-sm-12 controls" style="align:center"><br>
        <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-danger", style: "" %>
      </div>
      
      <div class="col-sm-12 controls"><br>
        <%= button_to "Back", :back, class: "btn btn-primary" %>
      </div>
    </div>
</body>
