<style>
  body {
    background: url(../images/login-background.jpg) no-repeat bottom center scroll; 
  }
</style>
<body>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>
    <div class="container">    
      <div id="loginbox" style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">                    
        <div class="panel panel-info" >
          <div class="panel-heading">
            <div class="panel-title">Sign Up</div>
          </div>     

          <div style="padding-top:30px" class="panel-body" >

            <div style="display:none" id="login-alert" class="alert alert-danger col-sm-12"></div>

            <form id="loginform" class="form-horizontal" role="form">

              <div style="margin-bottom: 25px" class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                <%= f.email_field :email, :placeholder => "Email", autofocus: true, class: "form-control" %>  
              </div>

              <div style="margin-bottom: 25px" class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                <%= f.text_field :username, :placeholder => "Username", autofocus: true, class: "form-control" %>  
              </div>

              <div style="margin-bottom: 25px" class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                <%= f.password_field :password, :placeholder => "Password(8 characters minimum)",autocomplete: "off", class: "form-control" %>
              </div>

              <div style="margin-bottom: 25px" class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                <%= f.password_field :password_confirmation, :placeholder => "Confirm password",autocomplete: "off", class: "form-control" %>
              </div>

              <div style="margin-top:10px" class="form-group">
              <!-- Button -->
                <div class="col-sm-12 controls">
                  <%= f.submit "Sign Up", class: "btn btn-success" %>
                </div>
              </div>    
            </form>     
          </div>                     
        </div>  
      </div>
    </div>
  <% end %>
</body>

<%= render "devise/shared/links" %>
