<h1>New comment on your event</h1>

<p>
	Hello, <%= @user.username %>. You are receiving this email, because <%= @commenter.username %> has commented on your event "<%= @event.title %>".
</p>
<br>
<p>
	Commenter: <%= @commenter.username %><br>
	Comment: <%= @comment.body %><br>
	Comment created at: <%= @comment.created_at %>
</p>
<br>
<p> Stay healthy and have a nice day! </p>