<h1>Changed Event</h1>

<p> Hello, <%= @participant_acc.username %>! The event "<%= @event.title %>" has been changed. </p>
<h4>Event details</h4>
<p>
  <strong>Title:</strong>
  <%= @event.title %>
</p>

<p>
  <strong>Type:</strong>
  <%= @event.sporttype %>
</p>

<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>

<p>
  <strong>Max players:</strong>
  <%= @event.maxplayers %>
</p>

<p>
  <strong>Date:</strong>
  <%= @event.start_time %>
</p>

<p>
  <strong>Time:</strong>
  <%= @event.time %>
</p>

<p>
	<strong>Created by:</strong>
	<%= @event.user.username %>
</p>

<p>
  <%= image_tag @event.image.url(:medium) %>
</p> 
<br>
<p> Stay healthy and have a nice day! </p>
