<h1>New user joined you event</h1>

<p>
	Hello, <%= @user.username %>. You are receiving this email, because <%= @participant_acc.username %> has joined your event "<%= @event.title %>".
</p>

<br>
<p> Stay healthy and have a nice day! </p>