<div class="media">

    <div class="pull-left">
    	<%= image_tag User.find(comment.commenter_id).avatar.url, :class => "media-object", :size => "64x64", :style => "border-radius: 50%;" %>
    </div>

    <div class="media-body">
        <h4 class="media-heading"><%= link_to User.find(comment.commenter_id).username, User.find(comment.commenter_id) %>
            <small><%= comment.created_at %></small>
        </h4>
        <%= comment.body %>
    </div>

	<%if user_signed_in? %>
		<% if comment.commenter_id == current_user.id %>
			<p>
			  <%= button_to 'Destroy Comment', [comment.event, comment],
			               method: :delete,
			               data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
			</p>
		<% end %>
	<% end %>

</div>

