<div class="well">
    <h4>Leave a Comment:</h4>
    <%= form_for([@event, @event.comments.build]) do |f| %>
	    <div class="form-group">
	    	<%= f.text_area :body, class: "form-control" %>
	    </div>
	    <%= f.hidden_field :commenter_id, value: current_user.id %>
	    <%= f.submit "Submit", class: "btn btn-primary" %>
	<% end %>
</div>