<div id='cssmenu' style="background: transparent;z-index: 999;">
  <ul>
    <li><%= link_to 'Home Page', controller: 'welcome' %></li>
    <li><%= link_to 'Compose message', new_conversation_path %></li>
    <li><%= link_to "Events", controller: 'events', action: 'index' %></li>
    <li><%= link_to "Events calendar", controller: 'events', action: 'calendar' %></li>
    <li class='has-sub'><%= link_to "Profile", current_user %>
        <ul>
           <li><%= link_to "View Profile", current_user %></li>
           <li><%= link_to "Messages", controller: 'mailbox', action: 'inbox' %></li>
           <li><%= link_to "Edit Profile", edit_user_registration_path %></li>
           <li><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></li>
        </ul>
    </li>
  </ul>
</div>

<div class="row">
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-body" style="box-shadow: 10px 10px 10px #000000;">
        <%= render 'mailbox/folders' %>
      </div>
    </div>
  </div>

  <div class="col-md-8">
    <div class="panel panel-default">
      <div style="float: right;">
        <% if conversation.is_trashed?(current_user) %>
            <%= link_to 'Untrash', untrash_conversation_path(conversation), class: 'btn btn-info', method: :post %>
        <% else %>
            <%= link_to 'Move to trash', trash_conversation_path(conversation), class: 'btn btn-danger', method: :post,
                        data: {confirm: 'Are you sure?'} %>
        <% end %>
      </div>
      <div class="panel-body">
        <%= render 'messages' %>
      </div>
      <div class="panel-footer" style="box-shadow: 10px 10px 10px #000000;">
        <!-- Reply Form -->
        <%= form_for :message, url: reply_conversation_path(conversation) do |f| %>
            <div class="form-group" style="box-shadow: 5px 5px 5px #000000;">
              <%= f.text_area :body, placeholder: "Reply Message", rows: 4, class: "form-control" %>
            </div>
            <%= f.submit "Reply", class: 'btn btn-success pull-right' %>
        <% end %>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>

</div>
