<% if !current_user.participate?(@event) and @event.user_id != current_user.id and @event.participants.count < @event.maxplayers %>
	<%= form_for([@event, @event.participants.build]) do |f| %>
	    <%= f.hidden_field :user_id, value: current_user.id %>
	    <%= f.fields_for([current_user, current_user.joined_events.build]) do |ff| %>
	    	<%= ff.hidden_field :event_id, value: @event.id %>
	    <% end %>
			<%= f.submit "Join", class: "btn btn-primary" %>
	<% end %>
<% end %>