<% participant  = nil %>
<% participants = @event.participants %>
<% participants.each do |par| %>
	<% if current_user.id == par.user_id %>
		<% participant = par %>
	<% end %>
<% end %>
<% if participant != nil and participant.user_id == current_user.id and current_user.id != @event.user_id %>
<%= link_to 'Leave', [participant.event, participant], method: :delete %>
<% end %>