<% if @user == current_user %>
	<div id="aboutPanel">
		<table>
			<tr>
				<th>Username</th>
				<td><%= @user.username %></td>
			</tr>
			<tr>
				<th>Email</th>
				<td><%= @user.email %></td>
			</tr>
			<tr>
				<th>Created at</th>
				<td><%= @user.created_at %></td>
			</tr>
			<tr>
				<th>Last sign in at</th>
				<td><%= @user.last_sign_in_at %></td>
			</tr>
			<tr>
				<th>Notifications</th>
				<td><%= @user.notifications %></td>
			</tr>
			<tr>
				<th>Created events</th>
				<td><%= @user.events.count %></td>
			</tr>
			<tr>
				<th>Joined events</th>
				<td><%= @user.joined_events.count %></td>
			</tr>
		</table>
	</div>
<% end %>