<div id="eventsPanel">
  <h2><%= @user.username %>'s events</h2>
  <% @user.events.each do |event| %>
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <div class="listing listing-radius listing-success">
            <div class="listing-content">
                <h3 class="lead"><%= link_to event.title, event, :style => "text-decoration: none; background-color:transparent; color: #000000;"%></h3>
                <p><span class="nowrap"><b>Place: </b><%= event.location %></span></p>
                <p><b>Date: </b><%= event.start_time %></p>
                <p><b>Time: </b><%= event.time.strftime("%H:%M") %></p>
                <p><b>Players: </b><%= event.participants.count %>/<%= event.maxplayers %></p>
            </div>
        </div>
    </div>
  <% end %>
</div>