<% if @user == current_user %>
	<div id="friendsPanel">
		<% @user.friendships.each do |friendship| %>
			<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
		        <div class="listing listing-radius listing-success">
		            <div class="listing-content">
						<h3 class="lead"><%= link_to User.find(friendship.friend_id).username, User.find(friendship.friend_id), :style => "text-decoration: none; background-color:transparent; color: #000000;"%></h3>
						<%= image_tag User.find(friendship.friend_id).avatar.url(:thumb), :style => "border-radius: 15%;" %><br>
						<%= link_to "View profile", User.find(friendship.friend_id) %><br>
						<%= link_to "Remove friend", { controller: "friendships", action: "destroy", :id => friendship.friend_id }, :method => :delete, data: { confirm: 'Are you sure?' } %><br>
					</div>
				</div>
			</div>
		<% end %>
	</div>
<% end %>