<% if @user == current_user %>
	<div id="requestsPanel">
		<% @user.requests.each do |request| %>
			<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
		        <div class="listing listing-radius listing-success">
		            <div class="listing-content">
						<h3 class="lead"><%= link_to User.find(request.requested_user_id).username, User.find(request.requested_user_id), :style => "text-decoration: none; background-color:transparent; color: #000000;"%></h3>
						<%= image_tag User.find(request.requested_user_id).avatar.url(:thumb), :style => "border-radius: 15%;" %><br>
						<%= link_to "View profile", User.find(request.requested_user_id) %><br>
						<%= link_to "Accept", { controller: "friendships", action: "create", :friend_id => request.requested_user_id, :request_id => request.id }, :method => :post %><br>
						<%= link_to "Decline", { controller: "requests", action: "destroy", :friend_id => request.requested_user_id, :request_id => request.id }, :method => :delete %><br>
					</div>
				</div>
			</div>
		<% end %>
	</div>
<% end %>