<div id="statisticsPanel" style="width:100%; height:400px;"></div>
<script type="text/javascript">
	$(function () { 
    $('#statisticsPanel').highcharts({
        chart: {
            type: 'bar'
        },
        title: {
            text: 'User statistics'
        },
        xAxis: {
            categories: ['Created events', 'Joined events', 'Friends', 'Friend Requests']
        },
        yAxis: {
            title: {
                text: 'Count'
            }
        },
        series: [{
            name: '<%= @user.username %>',
            data: [<%= @user.events.count %>, <%= @user.joined_events.count %>, <%= @user.friends.count %>, <%= @user.requests.count %>]
        }]
    });
});
</script>