<!DOCTYPE html>
<html>
	<head>
		<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
		<script src="http://code.highcharts.com/highcharts.js"></script>

		<meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    <meta name="description" content="">
	    <meta name="author" content="">
	</head>

	<body>

		<div id='cssmenu' style="background-color: transparent;z-index: 999;">
	      <ul>
	         <li><%= link_to 'Events', events_path %></li>
	         <% if @user == current_user %>
	         	<li class='active has-sub'><%= link_to "Profile", current_user %>
	         <% else %>
	         	<li class='has-sub'><%= link_to "Profile", current_user %>
	         <% end %>
            <ul>
            	<% if @user == current_user %>
            		<li><a href="#" id="eventsButton">Events</a></li>
         				<li><a href="#" id="joinedEventsButton">Joined Events</a></li>
            		<li><a href="#" id="friendsButton">Friends</a></li>
	         			<li><a href="#" id="requestsButton">Friend Requests</a></li>
	         			<li><a href="#" id="aboutButton">About</a></li>
	         			<li><a href="#" id="statisticsButton">Statistics</a></li>
	         		<% else %>
	         			<li><%= link_to "View Profile", current_user %></li>
            	<% end %>
						 <li><%= link_to "Messages", controller: 'mailbox', action: 'inbox' %></li>
             <li><%= link_to "Edit Profile", edit_user_registration_path %></li>
           	 <li><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></li>
            </ul>
	         </li>
	         <% if @user != current_user %>
		         <li class="active has-sub"><a href='#' id="profileLink"><%= @user.username %></a>
		         <ul style="z-index: 999;">
		         	<li><a href="#" id="eventsButton">Events</a></li>
		         	<li><a href="#" id="joinedEventsButton">Joined Events</a></li>
		         </ul>
		         </li>
	         <% end %>
	      </ul>
	    </div>

		<div class="container" style="z-index: 1;">
			<div class="row">
				<div class="col-lg-3 col-sm-6">
		            <div class="card hovercard">
		                <div class="cardheader">
		                </div>
		                <div class="avatar">
		                    <img alt="" src=<%= @user.avatar.url %>>
		                </div>
		                <div class="info">
		                    <div class="title">
		                        <a target="_blank" href><%= @user.username %></a>
		                    </div>
		                    <div class="desc"><%= @user.email %></div>
		                    <% if current_user.requested?(@user) %>
		                    	<p>Friend request sent</p>
		                    <% end %>
		                    <% if !current_user.requested?(@user) and !current_user.friend_with?(@user) and current_user != @user %>
		                    	<%= button_to "Send friend request", { controller: "requests", action: "create", :requested_user_id => @user.id }, :method => :post, class: "btn-lg btn-success" %>
		                    <% end %>
		                    <% if current_user.friend_with?(@user) and current_user != @user %>
		                    	<%= link_to "Remove friend", { controller: "friendships", action: "destroy", :id => @user.id }, :method => :delete, data: { confirm: 'Are you sure?' } %>
		                    <% end %>
		                </div>
		                <div class="bottom">
		                    <a class="btn btn-primary btn-twitter btn-sm" href="https://twitter.com/webmaniac">
		                        <i class="fa fa-twitter"></i>
		                    </a>
		                    <a class="btn btn-danger btn-sm" rel="publisher"
		                       href="https://plus.google.com/+ahmshahnuralam">
		                        <i class="fa fa-google-plus"></i>
		                    </a>
		                    <a class="btn btn-primary btn-sm" rel="publisher"
		                       href="https://plus.google.com/shahnuralam">
		                        <i class="fa fa-facebook"></i>
		                    </a>
		                    <a class="btn btn-warning btn-sm" rel="publisher" href="https://plus.google.com/shahnuralam">
		                        <i class="fa fa-behance"></i>
		                    </a>
		                </div>
		            </div>
		        </div>
			</div>
			<div class="row">
				<div class="col-lg-3 col-sm-6">
					<div class="card hovercard" style="padding: 2%;">
						<%= render 'events' %>
						<%= render 'friend_requests' %>
						<%= render 'friends' %>
						<%= render 'about' %>
						<%= render 'joined_events' %>
						<%= render 'statistics' %>
					</div>
				</div>
			</div>
	</body>
</html>
