<div id='cssmenu' style="background: transparent;z-index: 999;">
  <ul>
    <li><%= link_to 'Home Page', controller: 'welcome' %></li>
    <li><%= link_to 'Compose message', new_conversation_path %></li>
    <li><%= link_to "Events", controller: 'events', action: 'index' %></li>
    <li><%= link_to "Events calendar", controller: 'events', action: 'calendar' %></li>
    <li class='has-sub'><%= link_to "Profile", current_user %>
        <ul>
           <li><%= link_to "View Profile", current_user %></li>
           <li><%= link_to "Messages", controller: 'mailbox', action: 'inbox' %></li>
           <li><%= link_to "Edit Profile", edit_user_registration_path %></li>
           <li><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></li>
        </ul>
    </li>
  </ul>
</div>

<div class="row" style="z-index: 1;">
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-body" style="box-shadow: 10px 10px 10px #000000;">
        <%= render 'mailbox/folders' %>
      </div>
    </div>
  </div>

  <div class="col-md-8">
    <div class="panel panel-default">
      <div class="panel-body" style="box-shadow: 10px 10px 10px #000000;">
        <% if is_conversation %>
            <%= render 'conversations/form' %>
        <% else %>
          <% messages.each do |conversation| %>
            <%= link_to conversation_path(conversation) do %>
              <div class='conversation-container'><%= conversation.subject %></div>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>

</div>
