<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  </head>
  <body data-no-turbolinks='true'>
    <%= render partial: 'mailbox/folder_view', locals: { is_conversation: false, messages: @inbox } %>
  </body>
</html>
