<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SportsMatcher</title>

    <!-- Bootstrap Core CSS -->
    <%= stylesheet_link_tag 'bootstrap.min' %>

    <%= stylesheet_link_tag 'bootstrap-social' %>

    <!-- Custom CSS -->
    <%= stylesheet_link_tag 'grayscale' %>

    <!-- Custom Fonts -->
    <%= stylesheet_link_tag 'font-awesome.min' %>
    <link href="http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

    <!-- Navigation -->
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">
                    <i class="fa fa-play-circle"></i>  <span class="light">Sports</span> Matcher
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about">About</a>
                    </li>
                    <% if user_signed_in? %>
                        <li>
                            <a class="page-scroll" href="#events">Events</a>
                        </li>
                        <li>
                            <%= link_to controller: 'mailbox', action: 'inbox' do %>
                              Messages
                              <% if unread_messages_count > 0 %>
                                <div style="display: inline; color: red;"><%= unread_messages_count %></div>
                              <% end %>
                            <% end %>
                        </li>
                        <li>
                            <a href= <%= edit_user_registration_path %>>Edit Profile</a>
                        </li>
                        <li>
                            <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
                        </li>
                    <% else %>
                        <li>
                            <a class="page-scroll" href="#signup">Login</a>
                        </li>
                    <% end %>
                    <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="brand-heading" align="center">Sports Matcher</h1>
                        <% if user_signed_in? %>
                            <%= image_tag current_user.avatar.url, :class => "avatarche", :size => "150x150" %>
                            <p class="intro-text">Hello, <%= link_to current_user.username, current_user, :style=>'color:#FFFFFF;' %>! Be healthy.</p>
                        <% else %>
                            <p class="intro-text">Be healthy.</p>
                        <% end %>
                        <a href="#about" class="btn btn-circle page-scroll">
                            <i class="fa fa-angle-double-down animated" style="color: #ffffff;"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2" style="background-color: #ffffff;color: #000000;padding: 2%;border-radius: 15px;border: solid 2px #009ae1;box-shadow: 10px 10px 10px #000000;">
                <h2>About SportsMatcher</h2>
                <p> SportsMatcher is new way for finding, creating and joining sport events fast and easy. This is the place where you
                can find group for the sport you love.</p>
            </div>
        </div>
    </section>

    <!-- Sign Section -->
    <% if user_signed_in? %>
        <section id="events" class="content-section text-center">
            <div class="events-section">
                <div class="container">
                    <div class="col-lg-8 col-lg-offset-2" style="background-color: #ffffff;color: #000000;padding: 2%;border-radius: 15px;border: solid 2px #009ae1;box-shadow: 10px 10px 10px #000000;">
                        <h2>Find an event in SportsMatcher</h2>
                        <p>Here you can find the right event for you.</p>
                        <%= link_to "Find An Event", { controller: "events" } , class: "btn btn-primary btn-lg" %>
                        <%= link_to "Events calendar", { controller: "events", action: "calendar" } , class: "btn btn-primary btn-lg" %>
                    </div>
                </div>
            </div>
        </section>
    <% else %>
        <!-- Event Section -->
        <section id="signup" class="content-section text-center">
            <div class="signup-section">
                <div class="container">
                    <div class="col-lg-8 col-lg-offset-2" style="background-color: #ffffff;color: #000000;padding: 2%;border-radius: 15px;border: solid 2px #009ae1;box-shadow: 10px 10px 10px #000000;">
                        <h2>Login to SportsMatcher</h2>
                        <p>Here you can sign in or sign up to our new app.</p>
                        <a href=<%= new_user_session_path %> class="btn btn-primary btn-lg">Sign In</a>
                        <a href=<%= new_user_registration_path %> class="btn btn-primary btn-lg">Sign Up</a>
                        <br>
                        <a href=<%= user_omniauth_authorize_path(:twitter) %> class="btn btn-block btn-social btn-twitter" style="margin: 1%; width: 32%;margin-left: auto; margin-right: auto; display: block;">
                          <i class="fa fa-twitter"></i> Sign in with Twitter
                        </a>
                        <a href=<%= user_omniauth_authorize_path(:linkedin) %> class="btn btn-block btn-social btn-linkedin" style="margin: 1%; width: 32%;margin-left: auto; margin-right: auto; display: block;">
                          <i class="fa fa-linkedin"></i> Sign in with LinkedIn
                        </a>
                    </div>
                </div>
            </div>
        </section>
    <% end %>


    <!-- Contact Section -->
    <section id="contact" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2" style="background-color: #ffffff;color: #000000;padding: 2%;border-radius: 15px;border: solid 2px #009ae1;box-shadow: 10px 10px 10px #000000;">
                <h2>Contact SportsMatcher</h2>
                <p>You can contact us here.</p>
                </p>
                <ul class="list-inline banner-social-buttons">
                    <li>
                        <a href="https://twitter.com/SBootstrap" class="btn btn-primary btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
                    </li>
                    <li>
                        <a href="https://github.com/IronSummitMedia/startbootstrap" class="btn btn-primary btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
                    </li>
                    <li>
                        <a href="https://plus.google.com/+Startbootstrap/posts" class="btn btn-primary btn-lg"><i class="fa fa-google-plus fa-fw"></i> <span class="network-name">Google+</span></a>
                    </li>
                </ul>
            </div>
        </div>
    </section>

    <!-- Footer -->
    <footer>
        <div class="container text-center">
            <p>Copyright &copy; SportsMatcher 2015</p>
        </div>
    </footer>

    <% content_for :javascript_includes do %>
      <!-- jQuery -->
      <%= javascript_include_tag "jquery.js" %>
      <!-- Bootstrap Core JavaScript -->
      <%= javascript_include_tag "bootstrap.min.js" %>
      <!-- Plugin JavaScript -->
      <%= javascript_include_tag "jquery.easing.min.js" %>
      <!-- Custom Theme JavaScript -->
      <%= javascript_include_tag "grayscale.js" %>
    <% end %>

</body>

</html>
