<div id="bar-chart" style="width:100%; height:400px;display: none;">
	<h2>Chart controls</h2>
			<input id='pie-chart-radio-button' type='radio' name='pie-chart' checked>Pie chart</input></br>
			<input id='bar-chart-radio-button' type='radio' name='bar-chart'>Bar chart</input>
</div>
<script type="text/javascript">
	$(function () { 
	    $('#bar-chart').highcharts({
	        chart: {
	            type: 'bar'
	        },
	        title: {
	            text: 'Events statistics'
	        },
	        xAxis: {
	            categories: ['Football', 'Basketball', 'Baseball', 'Volleyball', 'Handball']
	        },
	        yAxis: {
	            title: {
	                text: 'Count'
	            }
	        },
	        series: [{
	            name: 'Sport events',
	            data: [<%= @football_events.count %>, <%= @basketball_events.count %>, <%= @baseball_events.count %>, <%= @volleyball_events.count %>, <%= @handball_events.count %>]
	        }]
	    });
	});
</script>