<div class="container">
  <%= form_for @event, html: { multipart: true } do |f| %>
    <% if @event.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

        <ul>
        <% @event.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    <div class="form-group">
      <div class="field">
        <%= f.label :title %><br>
        <div class="form-fields">
          <%= f.text_field :title, :required => true, class: "form-control", :placeholder => "Title" %>
        </div>
      </div>
      <div class="field">
        <%= f.label :sporttype %><br>
        <%= f.select :sporttype, ["Football", "Basketball", "Baseball", "Volleyball", "Handball"], :required => true %>
      </div>
      <div class="field">
        <%= f.label :description %><br>
        <div class="form-fields">
          <%= f.text_area :description, :required => true, class: "form-control", :placeholder => "Description" %>
        </div>
      </div>
      <div class="field">
        <%= f.label :maxplayers %><br>
        <div class="form-fields">
          <%= f.number_field :maxplayers, :required => true, class: "form-control" %>
        </div>
      </div>
      <div class="field">
        <%= f.label :start_time %><br>
        <div class="form-fields">
          <%= f.date_field :start_time, :required => true, class: "form-control" %>
        </div>
      </div>
      <div class="field">
        <%= f.label :time %><br>
        <div class="form-fields">
          <%= f.time_field :time, :required => true, class: "form-control" %>
        </div>
      </div>
      <div class="field">
        <%= f.label :location %><br>
        <div class="form-fields">
          <%= f.text_field :location, :required => true, class: "form-control", :placeholder => "Location" %>
        </div>
      </div>
      <div class="field">
        <%= f.label :image %><br>
        <div class="form-fields">
          <%= f.file_field :image, class: "form-control", :style => "margin-bottom: 1%;" %>
        </div>
      </div>
      <div class="actions">
        <%= f.submit "Create", class: "btn btn-primary btn-lg", :style => "margin: 0 auto; display: block; box-shadow: 10px 10px 10px #000000;" %>
      </div>
    </div>
  <% end %>
</div>
