<div id="pie-chart" style="width:100%; height:400px;display: none;"></div>
		<script type="text/javascript">
			$(function () {
			    $('#pie-chart').highcharts({
			        chart: {
			            plotBackgroundColor: null,
			            plotBorderWidth: null,
			            plotShadow: false,
			            type: 'pie'
			        },
			        title: {
			            text: 'Events sport types'
			        },
			        tooltip: {
			            pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
			        },
			        plotOptions: {
			            pie: {
			                allowPointSelect: true,
			                cursor: 'pointer',
			                dataLabels: {
			                    enabled: true,
			                    format: '<b>{point.name}</b>: {point.percentage:.1f} %',
			                    style: {
			                        color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
			                    }
			                }
			            }
			        },
			        series: [{
			            name: 'Percentage',
			            colorByPoint: true,
			            data: [{
			                name: 'Football',
			                y: <%= @football_events.count %>
			            }, {
			                name: 'Basketball',
			                y: <%= @basketball_events.count %>
			            }, {
			                name: 'Baseball',
			                y: <%= @baseball_events.count %>
			            }, {
			                name: 'Volleyball',
			                y: <%= @volleyball_events.count %>
			            }, {
			                name: 'Handball',
			                y: <%= @handball_events.count %>
			            }]
			        }]
			    });
			});
		</script>