<!DOCTYPE html>
<html>
	<head>
		<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
		<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
		<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
    	<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
	</head>

	<body data-no-turbolink="true">
		<div id='cssmenu' style="background: transparent;">
	      <ul>
	        <li><%= link_to 'Home Page', controller: 'welcome' %></li>
	        <li><%= link_to 'Events', events_path %>
	        <li><%= link_to 'New Event', new_event_path %></li>
	        <li class='has-sub'><%= link_to "Profile", current_user %>
	            <ul>
	               <li><%= link_to "View Profile", current_user %></li>
								 <li><%= link_to "Messages", controller: 'mailbox', action: 'inbox' %></li>
	               <li><%= link_to "Edit Profile", edit_user_registration_path %></li>
	               <li><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></li>
	            </ul>
	        </li>
	      </ul>
	    </div>

		<div class="header" style="margin-bottom: 1%;">
			<h1 class="header_hero">Events calendar</h1>
		</div>

		<%= month_calendar events: @events do |date, meetings| %>
		  <%= date.day %>

		  <% meetings.each do |meeting| %>
		    <div>
		      <%= link_to meeting.title, meeting %>
		    </div>
		  <% end %>
		<% end %>
	</body>

</html>
