<!DOCTYPE <!DOCTYPE html>
<html>
	<head>
		<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
	</head>
	
	<body data-no-turbolink="true">	
		<div class="header">
		  <h1 class="header_hero">New Event</h1>
		</div>

		<%= render 'form' %>

		<%= link_to 'Show', @event %> |
		<%= link_to 'Back', events_path %>

	</body>
</html>
