<!DOCTYPE html>
<html>
  <head>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
  </head>
  <body data-no-turbolink="true">
    <div id='cssmenu' style="background: transparent;">
      <ul>
        <li><%= link_to 'Home Page', controller: 'welcome' %></li>
        <li><%= link_to 'New Event', new_event_path %></li>
        <li><%= link_to "Advanced Search", new_search_path %></li>
        <li><%= link_to "Events calendar", controller: 'events', action: 'calendar' %></li>
        <li><%= link_to "Events statistics", controller: 'events', action: 'statistics' %></li>
        <li class='has-sub'><%= link_to "Profile", current_user %>
            <ul>
               <li><%= link_to "View Profile", current_user %></li>
               <li><%= link_to "Messages", controller: 'mailbox', action: 'inbox' %></li>
               <li><%= link_to "Edit Profile", edit_user_registration_path %></li>
               <li><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></li>
            </ul>
        </li>
      </ul>
    </div>
    <p id="notice"><%= notice %></p>

    <div class="header">
      <h1 class="header_hero">Upcoming Events</h1>
    </div>

    <%= form_tag(events_path, :method => "get", id: "search-form") do %>
      <%= text_field_tag :search, params[:search], placeholder: "Search Events", class: "form-control", :style => "width:60%; margin-top: 1%; margin-bottom: 1%; text-align: center; margin-right:auto; margin-left:auto; box-shadow: 10px 10px 10px #000000;" %>
      <%= submit_tag "Search", :name => nil, class: "btn btn-primary", :style => "margin:0 auto; display: block;box-shadow: 10px 10px 10px #000000;" %>
    <% end %>

    <div class="container">
      <div class="row">
          <% @events.each do |event| %>
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                <div class="listing listing-radius listing-success">
                    <div class="listing-content">
                        <h3 class="lead"><%= link_to event.title, event, :style => "text-decoration: none; background-color:transparent; color: #000000;"%></h3>
                        <p><span class="nowrap"><b>Place: </b><%= event.location %></span></p>
                        <p><b>Date: </b><%= event.start_time %></p>
                        <p><b>Time: </b><%= event.time.strftime("%H:%M") %></p>
                        <p><b>Players: </b><%= event.participants.count %>/<%= event.maxplayers %></p>
                    </div>
                </div>
            </div>
          <% end %>
      </div>
      <%= will_paginate @events, renderer: BootstrapPagination::Rails %>
  </div>

  </body>
</html>
