<!DOCTYPE html>
<html>
	<head>
		<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
	</head>
	<body data-no-turbolink="true">
		<div id='cssmenu' style="background: transparent;">
	      <ul>
	        <li><%= link_to 'Home Page', controller: 'welcome' %></li>
	        <li><%= link_to 'Events', events_path %></li>
	        <li class='has-sub'><%= link_to "Profile", current_user %>
	            <ul>
	               <li><%= link_to "View Profile", current_user %></li>
								 <li><%= link_to "Messages", controller: 'mailbox', action: 'inbox' %></li>
	               <li><%= link_to "Edit Profile", edit_user_registration_path %></li>
	               <li><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></li>
	            </ul>
	        </li>
	      </ul>
	    </div>

		<div class="header">
	      <h1 class="header_hero">New Event</h1>
	    </div>

		<%= render 'form' %>

		<%= link_to 'Back', events_path %>

	</body>
</html>
