<!DOCTYPE html>
<html>

  <head> <!-- only if you need custom infoboxes -->

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhQFvrIWHNkEFWG8RAIWR73uIh2hYtULg"></script>

    <title><%= @event.title %></title>

    <%= stylesheet_link_tag 'bootstrap.min' %>

  </head>

  <body data-no-turbolink="true">

    <div id='cssmenu' style="background: transparent;">
      <ul>
         <li><%= link_to 'Events', events_path %></li>
         <% if current_user.participate?(@event) %>
           <li class='active has-sub'><a href='#' id="eventLink">Event</a>
            <ul>
              <li>
                <%= render 'participants/participant' %>
              </li>
            </ul>
           </li>
         <% else %>
          <% if current_user == @event.user %>
           <li class='active has_sub'><a href='#' id="eventLink">Event</a>
            <ul>
              <li><%= link_to 'Edit', edit_event_path(@event) %></li>
              <li><%= link_to 'Delete', @event, method: :delete, data: { confirm: 'Are you sure?' } %></li>
            </ul>
           </li>
          <% else %>
            <li><a href='#' id="eventLink">Event</a></li>
          <% end %>
         <% end %>
         <li class='has-sub'><%= link_to "Profile", current_user %>
            <ul>
               <li><%= link_to "View Profile", current_user %></li>
               <li><%= link_to "Messages", controller: 'mailbox', action: 'inbox' %></li>
               <li><%= link_to "Edit Profile", edit_user_registration_path %></li>
               <li><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></li>
            </ul>
         </li>
         <li><a href='#' id="participantsLink">Participants</a></li>
         <li><a href='#' id="nearbyEventsLink">Nearby Events</a></li>
      </ul>
    </div>

    <div class="participants" style="display:none; text-align: center;">
      <h3>Participants</h3>
      <hr>
      <% if @event.participants.size != 0 %>
        <div class="row">
          <% @event.participants.each do |participant| %>
            <div class="profile-header-container">
              <div class="profile-header-img">
                <%= image_tag User.find(participant.user_id).avatar.url(:thumb), class: "img-circle" %>
                <div class="rank-label-container">
                    <span class="label label-default rank-label"><%= link_to User.find(participant.user_id).username, User.find(participant.user_id) %></span>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      <% else %>
        <p>It's lonely here.</p>
      <% end %>
    </div>

    <div class="nearbyEvents" style="display:none; text-align: center;">
      <h3>Nearby Events</h3>
        <div class="row">
          <% if @event.nearbys(20).size != 0 %>
            <% for event in @event.nearbys(20) %>
              <div class="span2">
                <%= image_tag event.image.url, class: 'img-rounded' %>
              </div>
              <div class="span4">
                  <p><%= link_to event.title, event %> (<%= event.distance.round(2) %> miles)</p>
                  <small><cite title="Source Title"><%= event.location %>  <i class="icon-map-marker"></i></cite></small>
                <p>
                  <%= link_to User.find(event.user_id).username, User.find(event.user_id) %> <br>
                  <%= event.participants.count %>/<%= event.maxplayers %> <br>
                  <i class="icon-gift"></i> <%= event.start_time %>
                </p>
              </div>
            <% end %>
          <% else %>
            <p style="text-align:center;">No nearby events</p>
          <% end %>
        </div>
    </div>

    <div class="container-event">

        <div class="row" style="margin: 5%;">

          <h1 style="width: 100%"><%= @event.title %></h1>

          <%= render 'participants/form' %>

          <hr>

          <p>Created by: <%= link_to @event.user.username, @event.user %></p>
          <p><span class="glyphicon glyphicon-time"></span> <%= @event.created_at %></p>
          <%= social_share_button_tag("Join " + @event.title + " -> ", :url => "http://localhost:3000/events/" + @event.id.to_s, :popup => "true") %>

          <hr>

          <%= image_tag @event.image.url(:medium), class: "img-responsive" %>

          <hr>

          <p class="lead"><%= @event.description %></p>
          <p> <b>Type:</b> <%= @event.sporttype %> </p>
          <p> <b>Max players:</b> <%= @event.maxplayers %> </p>
          <p> <b>Date:</b> <%= @event.start_time %> </p>
          <p> <b>Time:</b> <%= @event.time %> </p>
          <p> <b>Location:</b> <%= @event.location %> </p>


            <div id="map" style='width: 100%; height: 200px;'></div>

          <hr>

          <% if @comments != nil %>
            <%= render @comments %>
            <%= will_paginate @comments, renderer: BootstrapPagination::Rails %>
          <% end %>
          <hr>
          <% if user_signed_in? %>
            <%= render 'comments/form' %>
          <% end %>

        </div>
          <hr>

        <p id="notice"><%= notice %></p>

        <script>
            var map = new google.maps.Map(document.getElementById("map"), {
              zoom: 17,
              center: {lat: 0, lng: 0}
            });
            var geocoder = new google.maps.Geocoder();
            geocoder.geocode({"address": "<%= @event.location %>"}, function(results, status) {
              if (status === google.maps.GeocoderStatus.OK) {
                map.setCenter(results[0].geometry.location);
                var marker = new google.maps.Marker({
                  map: map,
                  position: results[0].geometry.location
                });
              } else {
                alert("Geocode error: " + status);
              }
            });
        </script>
    </div>
  </body>
</html>
