<!DOCTYPE html>
<html>
	<head>
		<title>Statistics</title>
		<script src="http://code.highcharts.com/highcharts.js"></script>
		<script type="http://code.jquery.com/jquery-2.1.4.js"></script>
		<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
	</head>
	<body data-no-turbolink="true">
		<div id='cssmenu' style="background: transparent;z-index: 999;">
	      <ul>
	        <li><%= link_to 'Home Page', controller: 'welcome' %></li>
	        <li><%= link_to 'Events', events_path %>
	        <li><%= link_to "Events calendar", controller: 'events', action: 'calendar' %></li>
	        <li class='has-sub'><%= link_to "Profile", current_user %>
	            <ul>
	               <li><%= link_to "View Profile", current_user %></li>
								 <li><%= link_to "Messages", controller: 'mailbox', action: 'inbox' %></li>
	               <li><%= link_to "Edit Profile", edit_user_registration_path %></li>
	               <li><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></li>
	            </ul>
	        </li>
	      </ul>
	    </div>
		<div class="header" style="margin-bottom: 1%;">
			<h1 class="header_hero">Events statistics</h1>
		</div>
		<div id='chart-controls'>
			<div class="header" style="margin-bottom: 1%;">
				<h2 class="header_hero">Chart controls</h2>
			</div>
			<input id='pie-chart-radio-button' type='radio' name='pie-chart'>Pie chart</input></br>
			<input id='bar-chart-radio-button' type='radio' name='bar-chart'>Bar chart</input>
		</div>
		<%= render 'pie_statistics' %>
		<%= render 'bar_statistics' %>
		<script type="text/javascript">
			$(document).ready(function() {
				$('#pie-chart-radio-button').prop('checked', true);
				$('#pie-chart').show();
				$('#bar-chart-radio-button').click(function() {
					$('#pie-chart').hide();
					$('#pie-chart-radio-button').prop('checked', false);
					$('#bar-chart').show();
				});
				$('#pie-chart-radio-button').click(function() {
					$('#bar-chart').hide();
					$('#bar-chart-radio-button').prop('checked', false);
					$('#pie-chart').show();
				});
			});
		</script>
	</body>
</html>
