<div class="simple-calendar">
  <div class="calendar-nav">
    <%= link_to start_date: date_range.first - 1.day do %>
      <span class="glyphicon glyphicon-chevron-left" style="color: #009ae1;"></span>
    <% end %>
    <h3 style="display: inline;color: #009ae1;"><%= I18n.t("date.month_names")[start_date.month] %> <%= start_date.year %></h3>
    <%= link_to start_date: date_range.last + 1.day do %>
      <span class="glyphicon glyphicon-chevron-right" style="color: #009ae1;"></span>
    <% end %>
  </div>

  <%
    def block_is_haml?(block)
      eval('_hamlout', block.binding)
      true
    rescue
      false
    end
  %>

  <table class="table table-striped">
    <thead>
      <tr>
        <% date_range.slice(0, 7).each do |day| %>
          <th><%= I18n.t("date.abbr_day_names")[day.wday] %></th>
        <% end %>
      </tr>
    </thead>

    <tbody>
      <% date_range.each_slice(7) do |week| %>
        <tr>
          <% week.each do |day| %>
            <%= content_tag :td, class: calendar.td_classes_for(day), id: "content" do %>
              <% if defined?(Haml) && block_is_haml?(block) %>
                <% capture_haml do %>
                  <% block.call day, sorted_events.fetch(day, []) %>
                <% end %>
              <% else %>
                <% block.call day, sorted_events.fetch(day, []) %>
              <% end %>
            <% end %>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
