<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  </head>

  <body data-no-turbolink="true">
    <style type="text/css">
      body {
        background: url(../images/show_event_background1.jpg) no-repeat bottom center scroll;
      }
    </style>
    <div id='cssmenu' style="background-color: transparent;">
      <ul style="z-index: 999;">
        <li><%= link_to 'Events', events_path %></li>
        <li class="active has-sub"><%= link_to "Profile", current_user %>
        <ul>
          <li><%= link_to "View Profile", current_user %></li>
          <li><%= link_to "Messages", controller: 'mailbox', action: 'inbox' %></li>
          <li><%= link_to "Edit Profile", edit_user_registration_path %></li>
          <li><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></li>
        </ul>
      </ul>
    </div>

    <div class="header">
      <h1 class="header_hero">Advanced search</h1>
    </div>
    <div class="container">
      <%= form_for @search, html: {class: "pure-form"} do |s| %>
        <div class="form-group">
          <label for="keywords">Keywords:</label>
          <%= s.text_field :keywords, class: "form-control", :placeholder => "Keywords", :style => "box-shadow: 10px 10px 10px #000000;" %>
        </div>
        <div class="form-group">
          <label for="sporttype">Sport type:</label>
          <%= s.select :sporttype, options_for_select(@sporttypes), :include_blank => true %>
        </div>
        <div class="form-group">
          <label for="date">Date:</label>
          <%= s.date_field :date, class: "form-control", :style => "box-shadow: 10px 10px 10px #000000;" %>
        </div>
        <div class="form-group">
          <label for="location">Location:</label>
          <%= s.text_field :location, class: "form-control", :placeholder => "Location", :style => "box-shadow: 10px 10px 10px #000000;" %>
        </div>
        <%= s.submit "Search", class: "btn btn-primary", :style => "margin:0 auto; display: block; margin-bottom: 1%;box-shadow: 10px 10px 10px #000000;" %>
      <% end %>
      <%= button_to 'Back', events_path, class: "btn btn-danger", :method => :get, :style => "margin:0 auto; display: block;box-shadow: 10px 10px 10px #000000;" %>
    </div>
  </body>
</html>
