<!DOCTYPE html>
<html>
	<head>

	</head>
	<body data-no-turbolink="true">
		<style type="text/css">
			body {
				background: url(../images/show_event_background1.jpg) no-repeat bottom center scroll;
			}
		</style>
		<div id='cssmenu' style="background-color: transparent;">
	      <ul style="z-index: 999;">
	        <li><%= link_to 'Events', events_path %></li>
	        <li class="active has-sub"><%= link_to "Profile", current_user %>
	        <ul>
	          <li><%= link_to "View Profile", current_user %></li>
						<li><%= link_to "Messages", controller: 'mailbox', action: 'inbox' %></li>
	          <li><%= link_to "Edit Profile", edit_user_registration_path %></li>
	          <li><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></li>
	        </ul>
	      </ul>
	    </div>
		<div class="header">
	      <h1 class="header_hero">Search results</h1>
	    </div>
		<% if @search.search_events.empty? %>
			<p>No records found</p>
		<% else %>
			<div class="container">
      			<div class="row">
					<% @search.search_events.each do |event| %>
						<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
			                <div class="listing listing-radius listing-success">
			                    <div class="listing-content">
			                        <h3 class="lead"><%= link_to event.title, event, :style => "text-decoration: none; background-color:transparent; color: #000000;"%></h3>
			                        <p><span class="nowrap"><b>Place: </b><%= event.location %></span></p>
			                        <p><b>Date: </b><%= event.start_time %></p>
			                        <p><b>Time: </b><%= event.time.strftime("%H:%M") %></p>
			                        <p><b>Players: </b><%= event.participants.count %>/<%= event.maxplayers %></p>
			                    </div>
			                </div>
			            </div>
					<% end %>
				</div>
			</div>
		<% end %>
	</body>
</html>
