// Place all the styles related to the mailbox controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.conversation-container {
  border: 1px solid #808080;
  border-radius: 5px;
  padding: 2%;
  margin: 2%;
  text-decoration: none;
  color: #808080;
}

.conversation-container:hover {
  color: #808080;
}
