// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.avatarche {
	border-radius: 50%;
	-webkit-transform: rotate(360deg) scale(1);
	transform: rotate(360deg) scale(1);
	-webkit-transform: rotate(360deg) scale(1);
	transform: rotate(360deg) scale(1);
	-webkit-transition: .5s ease-in-out;
	transition: .5s ease-in-out;
}

.avatarche:hover {
	-webkit-transform: rotate(0) scale(1);
	transform: rotate(0) scale(1);
}